.spinner-padding {
    padding-top: 5%;
}

:host {
    --sds-c-button-brand-color-background: #0052CC;
    --sds-c-button-brand-color-border: #0052CC;
    /* Other CSS custom properties here */
  
}

.slds-modal__header{
    background-color: #367be4;
    color: white;
}


.float-container {
    border: 3px solid #fff;
}

.float-child1 {
    width: 76%;
    float: left;
} 

.float-child2 {
    width: 24%;
    float: left;
    padding: 8px;
    border: 1px solid rgb(150, 147, 147);
}